# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
/out/

# Eclipse
.project
.classpath
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# macOS
.DS_Store

# Java
*.class

# OS files
Thumbs.db
